.header {
	padding: 20px 0;
	background-color: var(--dark-green-color);
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.header__list {
	display: flex;
	gap: 24px;
	padding-right: 30px;

	li a {
		color: var(--light-gray-color);
	}
}
